<!DOCTYPE HTML>
<!--
	Solid State by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>VoidAwake</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/custom.css" />

		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src="https://kit.fontawesome.com/865d7a8cbc.js" crossorigin="anonymous"></script>
		<link id="favicon" rel="icon" type="image/x-icon" href="/images/favicon-light.png">
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<!-- <header id="header" class="alt"> -->
					<!-- {{ $headerClass := "" }}
					{{ if .IsHome }}
						{{ $headerClass = "alt" }}
					{{ end }}
					<header id="header" class={{ $headerClass }}>
						<h1><a href="/index.html">Jack Coggins <span id="pseudonym">/ VoidAwake</span></a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header> -->

				<!-- Menu -->
					<!-- <nav id="menu">
						<div class="inner">
							<h2 id="codeFont">- Paused -</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">CV</a></li> -->

								<!-- <li><a href="elements.html">Elements</a></li>-->
							<!-- </ul>
							<ul class="icons">
								<li><a href="https://github.com/VoidAwake" class="icon fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://voidawake.itch.io/" class="icon fa-brands fa-itch-io"><span class="label">itch.io</span></a></li>
								<li><a href="https://www.linkedin.com/in/jack-coggins-50a22a258/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav> -->


 				{{ block "main" . }}{{ end }}

			</div>

		<!-- Scripts -->
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>
			<script src="/assets/js/quotebook.js"></script>
			<script src="/assets/js/clear-form.js"></script>
			<script src="/assets/js/darkmode-favicon.js"></script>

	</body>
</html>
